
.rules_form {
    width: 80%;
    position: relative;
    margin: 0 auto;
    background: linear-gradient(
            180deg,
            rgba(251, 219, 159, 1) 0%,
            rgba(176, 138, 94, 1) 100%,
            rgba(251, 219, 159, 1) 100%
    );
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 15px;
}

.rules_title {
    text-align: center;
}

.rules_title p {
    font-size: 32px;
    font-weight: bold;
}

.rules_bottomContent {
    display: flex;
    align-items: center;
}

.rules_bottomContent p {
    margin-left: 10px;
    word-break: break-all;
}

ol {
    margin-left: 20px;
}

.rules_topContent {
    margin-bottom: 20px;
}
