.card-item {
  margin-top: 25px;
  display: flex;
  max-width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  border: 1px solid var(--border-secondary-color);
  position: relative;
}

.card-column {
  display: flex;
  flex-direction: column;
}

.article-title {
  color: var(--border-secondary-color);
  font-size: 16px;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
}

.article-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.article-counter {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.article-p {
  font-size: 12px;
  color: var(--border-secondary-color);
  line-height: 140%;
  margin-bottom: 5px;
  font-weight: 100;
}

.article-price {
  font-size: 13px;
  color: var(--border-secondary-color);
}

.counter-controls-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--border-secondary-color);
  background: none;
  border-radius: 6px;
  padding: 5px 20px;
}

.counter-btn {
  background: none;
  color: var(--border-secondary-color);
  border: none;
}

.counter-value {
  color: var(--border-secondary-color);
  font-size: 13px;
  margin: 0 10px;
}

.article-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.article-price {
  margin-right: 20px;
}

.article-btn {
  cursor: pointer;
  border-radius: 6px;
  background: var(--border-secondary-color);
  border: 1px solid var(--border-color);
  color: var(--secondary-color);
  font-size: 13px;
  width: 100px;
  height: 36px;
  bottom: 20px;
  right: 20px;
  transition: 0.3s ease;
}

/* СТИЛИ ДЛЯ ФИЛТРОВ У КАРТОЧКИ */
.filter-card {
  display: flex;
  flex-direction: column;
  margin: 20px 0 40px 0;
}

.filter-card-title {
  font-size: 12px;
  line-height: 140%;
  font-weight: 200;
}

.filter-card-span {
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
}

.cleo-card_img {
  width: 120px;
  height: 180px;
  position: absolute;
  right: 0;
  background-image: url("../../../assets/img/cleo-card.png");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 821px) {
  .cleo-card_img {
    width: 100px;
    height: 140px;
    top: 40px;
  }
}

@media screen and (max-width: 630px) {
  .article-price {
    margin-right: 10px;
  }
  .card-item {
    padding: 12px;
    margin-top: 20px;
    height: 250px;
  }
  .article-title {
    font-size: 14px;
  }
  .article-btn {
    width: 90px;
  }
  .counter-controls-card {
    padding: 5px 12px;
  }
  .cleo-card_img {
    top: 20px;
  }
  .filter-card  {
    margin: 10px 0 20px 0;
  }
}