.card-item {
  margin-top: 25px;
  display: flex;
  max-width: 100%;
  background: linear-gradient(
    180deg,
    rgba(251, 219, 159, 1) 0%,
    rgba(176, 138, 94, 1) 100%,
    rgba(251, 219, 159, 1) 100%
  );
  border-radius: 6px;
  padding: 20px;
  border: 1px solid #272845;
  position: relative;
}

.card-column {
  display: flex;
  flex-direction: column;
}

.article-title {
  color: #272845;
  font-size: 16px;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
}

.article-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.article-counter {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.article-p {
  font-size: 12px;
  color: #171826;
  line-height: 140%;
  margin-bottom: 5px;
}

.article-price {
  font-size: 13px;
  color: #171826;
}

.counter-controls-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #171826;
  background: none;
  border-radius: 6px;
  padding: 5px 20px;
}

.counter-btn {
  background: none;
  color: #171826;
  border: none;
}

.counter-value {
  color: #171826;
  font-size: 13px;
  margin: 0 10px;
}

.article-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.article-price {
  margin-right: 20px;
}

.article-btn {
  cursor: pointer;
  border-radius: 6px;
  background: #272845;
  border: 1px solid #b08a5e;
  color: #fbdb9f;
  font-size: 13px;
  width: 100px;
  height: 36px;
  bottom: 20px;
  right: 20px;
  transition: 0.3s ease;
}

/* СТИЛИ ДЛЯ ФИЛТРОВ У КАРТОЧКИ */
.filter-card {
  display: flex;
  flex-direction: column;
  margin: 20px 0 40px 0;
}

.filter-card-title {
  font-size: 12px;
  line-height: 140%;
  font-weight: 200;
}

.filter-card-span {
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
}

.cleo-card_img {
  width: 120px;
  height: 180px;
  position: absolute;
  right: 0;
  background-image: url("../../../assets/img/cleo-card.png");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 821px) {
  .cleo-card_img {
    width: 100px;
    height: 140px;
    top: 40px;
  }
}

@media screen and (max-width: 630px) {
  .article-price {
    margin-right: 10px;
  }
  .card-item {
    padding: 12px;
    margin-top: 20px;
    height: 250px;
  }
  .article-title {
    font-size: 14px;
  }
  .article-btn {
    width: 90px;
  }
  .counter-controls-card {
    padding: 5px 12px;
  }
  .cleo-card_img {
    top: 20px;
  }
  .filter-card  {
    margin: 10px 0 20px 0;
  }
}