
.profile_block {
    width: 80%;
    position: relative;
    margin: 0 auto;
    background: linear-gradient(
            180deg,
            rgba(251, 219, 159, 1) 0%,
            rgba(176, 138, 94, 1) 100%,
            rgba(251, 219, 159, 1) 100%
    );
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 15px;
}

.profile_title {
    text-align: center;
}

.profile_title p {
    font-size: 32px;
    font-weight: bold;
}

.profile_block_content {
    display: flex;
    justify-content: space-between;
}

.profile_info {
    display: flex;
}

.profile_info_leftContent {
    width: 180px;
    margin-right: 30px;
}

.text_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile_changePassword {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.profile_changePassword input {
    margin-bottom: 5px;
}

.profile_changePassword button {
    margin-top: 5px;
}

.profile_contentBlock_content_text {
    display: flex;
}

.profile_contentBlock_content_text p {
    word-break: break-all;
}

.editButton {
    color: #472F2B;
    cursor: pointer;
    margin-left: 20px;
}

.editButton:hover {
    text-decoration: underline;
}

.profile_contentBlock {
    margin-bottom: 15px;
}

.profile_contentBlock_content {
    display: flex;
    align-items: center;
}

.avatarButtonImg {
    display: none;
}

.profile_info_leftContent img {
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
    position: relative;
}

@media screen and (max-width: 1100px) {

    .profile_block_content {
        flex-direction: column;
    }

    .avatarButtonText {
        display: block;
    }

    .avatarButtonImg {
        display: none;
    }

}

@media screen and (max-width: 675px) {

    .profile_info_leftContent {
        width: 100px;
        margin-bottom: 15px;
    }

    .profile_info_leftContent img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .avatarButtonText {
        display: none;
    }

    .avatarButtonImg {
        display: block;
    }

    .profile_changePassword {
        width: 100%;
        min-width: 100%;
    }

}

@media screen and (max-width: 580px) {

    .profile_contentBlock_content_text {
        display: flex;
        flex-direction: column;
    }

    .editButton {
        margin-left: 0px;
    }

}

@media screen and (max-width: 400px) {

    .profile_info {
        display: flex;
        flex-direction: column;
    }

    .profile_info_leftContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (min-width: 676px) {

    .avatarButtonText {
        display: block;
    }

    .avatarButtonImg {
        display: none;
    }

}

.avatarButtonImg img {
    width: 15px;
    height: 15px;
    margin: 5px 0 0 0;
}
