.payment-container {
  background: var(--bg-color);
  border-radius: 12px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid var(--border-color);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.copy-block {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.copy {
  border-radius: 6px;
  padding: 7px 10px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
}

.payment-block {
  width: 235px;
  margin: 10px;
}

.payment-block img {
  max-width: 100%;
  height: auto;
}

.payment-title {
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.payment-btn {
  display: flex;
  align-items: center;
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 6px;
  border: 1px solid var(--border-color);
  padding: 6px 30px;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  font-size: 16px;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

/* ДРОПДАУН ДЛЯ ВЫЛЮТЫ */
.dropdown {
  position: relative;
  flex-direction: column;
  display: flex;
  margin-bottom: 10px;
}

.select-payment,
.input-payment {
  background: var(--secondary-color);
  border: 1px solid #472f2b;
  border-radius: 6px;
  color: var(--primary-color);
}

.input-payment {
  padding: 5px;
  flex: 1;
}

.select-payment {
  padding: 7px 25px 7px 15px;
  appearance: none;
}

.arrow-payment {
  position: absolute;
  right: 11px;
  top: 48%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background: url("../../../assets/icons/arrow-black.svg") no-repeat center;
  background-size: contain;
  pointer-events: none;
  color: var(--primary-color);
  appearance: none;
}

.select-payment:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.input-block_payment {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.input_payment {
  font-size: 10px;
  font-weight: 100;
  margin-top: 5px;
}

.payment-title-tin {
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 5px;
  color: var(--primary-color);
}

.modal-payment {
  padding: 20px;
}

.modal-payment_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-color);
}

.modal-content_payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 40px 20px 0;
}

.modal-content_title,
.modal-content_price {
  font-size: 13px;
  color: var(--primary-color);
  font-weight: 300;
}

.modal-link_payment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  text-decoration: underline;
  font-size: 13px;
  color: var(--primary-color);
  font-weight: 300;
}

@media screen and (max-width: 1030px) {
  .img-qr {
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .copy-block {
    margin-top: 10px;
  }
}

@media screen and (max-width: 860px) {
  .payment-container {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {
  .modal-payment_title {
    flex-wrap: wrap;
  }
  .modal-payment {
    padding: 10px;
  }
  .modal-content_payment {
    margin: 20px 0px 20px 0;
  }
}

@media screen and (max-width: 410px) {
  .modal-content_title {
    width: 100px;
  }
  .modal-payment_title {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}
