.card-list {
  background: linear-gradient(
    180deg,
    rgba(251, 219, 159, 1) 0%,
    rgba(176, 138, 94, 1) 100%,
    rgba(251, 219, 159, 1) 100%
  );
  border-radius: 12px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  margin-bottom: 20px;
  flex: 1;
  border: 1px solid #b08a5e;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-title {
  color: #171826;
  font-size: 32px;
  font-weight: 400;
  line-height: 90%;
  flex-grow: 1;
  text-align: center;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 20px;
}

.btnContent-cards {
  display: flex;
  justify-content: center;
  transform: translateX(0%);
  transform: translateY(40px);
}

.btn-cards {
  border-radius: 6px;
  color: #171826;
  background: #fbdb9f;
  font-size: 16px;
  padding: 10px 80px;
  position: absolute;
  bottom: -55px;
  cursor: pointer;
  border: 1px solid #472f2b;
  font-weight: 500;
  cursor: pointer;
}

.btn-cards:hover {
  background: linear-gradient(
    180deg,
    rgba(251, 219, 159, 1) 0%,
    rgba(176, 138, 94, 1) 100%,
    rgba(251, 219, 159, 1) 100%
  );
}

.filter-container {
  display: none;
}

.filter-button {
  background: #171826;
  border-radius: 6px;
  border: 1px solid #472f2b;
  cursor: pointer;
}

.icon-filter {
  padding: 5px 10px;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 1400px) {
  .grid-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  .grid-card {
    grid-template-columns: 1fr;
  }
  .item-title {
    font-size: 26px;
  }
  .filter-container {
    display: flex;
    position: absolute;
    top: -50px;
    left: 0;
  }
}

@media screen and (max-width: 930px) {
  .filter-container {
    top: -45px;
  }
}

@media screen and (max-width: 760px) {
  .search-container {
    top: -45px;
  }
  .search-input {
    width: 160px;
    padding: 7px 10px;
  }
  .icon-search {
    padding: 8.8px;
  }
}

@media screen and (max-width: 630px) {
  .grid-card {
    padding: 0;
  }
  .card-list {
    padding: 15px;
    margin-bottom: 40px;
  }
  .btn-cards {
    width: 280px;
  }
  .item-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 360px) {
  .item-title {
    font-size: 16px;
  }
  .filter-container {
    top: -50px;
    left: 0;
  }
  .icon-filter {
    padding: 7px 10px;
  }
}
