
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #472F2B;
    background-color: #FBDB9F;
    border-radius: 4px;
}

input[type="checkbox"]:checked {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: auto;
}
