.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  border-radius: 0 8px 8px 0;
  background: linear-gradient(
    253deg,
    rgba(251, 219, 159, 1) 0%,
    rgba(176, 138, 94, 1) 100%
  );
  position: absolute;
  margin-top: 15px;
}

.titleShop {
  font-size: 24px;
  line-height: 90%;
  margin-left: 70px;
  font-weight: 400;
}

@media screen and (max-width: 760px) {
  .label {
    width: 120px;
    height: 50px;
    margin-top: 10px;
  }
  .titleShop {
    font-size: 18px;
    padding-right: 47px;
  }
}