input[type="range"] {
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  accent-color: var(--secondary-color);
  bottom: 15px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--secondary-color);
  border-radius: 2px;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -6px;
}

input[type="range"]:focus {
  outline: none;
}
