.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
}

.search-input {
  border: 1px solid #472f2b;
  border-right: none;
  width: 100%;
  padding: 5px 10px;
  color: var(--primary-color);
  background: none;
  font-size: 13px;
  border-radius: 6px 0 0 6px;
  background: var(--secondary-color);
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: var(--primary-color);
}

.search-button {
  background: var(--primary-color);
  border: 1px solid #472f2b;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.icon-search {
  padding: 6.8px;
  align-items: center;
  display: flex;
}